.img-container{
    background-image: url("../Photos/wassilioff-sondagsbuffet-skalldyr.jpg"); 
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
}

.menu > h1,.price{
    text-align: center;
}

.menu h2{
    text-align: center;
}

.courses{
    display: flex;
    justify-content:space-around;
    background-color: #fffbf3;
}
.courses-item{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 350px;
    padding: 0 1rem;
    width: fit-content;
}


