nav{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: gray;
}